<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ernext">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".Splash"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Dashboard"
            android:label="Dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan">

        </activity>
        <activity
            android:name=".ActivityPDetails"
            android:label="ActivityPDetails"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan">

        </activity>
        <activity
            android:name=".ActivityOrderDetails"
            android:label="ActivityOrderDetails"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan">

        </activity>

        <activity
            android:name=".ActivityMyprofile"
            android:label="ActivityMyprofile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan">

        </activity>
        <activity
            android:name=".ActivityChefs"
            android:label="ActivityChefs"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan">

        </activity>
        <activity
            android:name=".ActivityRegister"
            android:label="Dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan">

        </activity>
        <activity
            android:name=".ActivityChefDetails"
            android:label="ActivityChefDetails"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>
        <activity
            android:name=".ActivityCart"
            android:label="ActivityCart"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>
    </application>

</manifest>